<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share File with Ease</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <script src="app.js" defer></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>easyFileShare</h1>
    </header>
    <div class="main">
      <section class="upload-box">
        <div class="drop-box">
          <div class="drop-icon">
            <i class="center fas fa-cloud-download-alt"></i>
            <% if(locals.error){ %>
            <h4><%= locals.error %> 😏</h4>
            <% } else { %>
            <h2>Your file is ready to download</h2>
            <p>Expire in 24 hours</p>
            <div class="download__meta">
              <h4><%= filename %></h4>
              <small><%= parseInt(fileSize/1000) %> KB</small>
            </div>
            <div class="send-btn-container">
              <a href="<%= download %>">Download file</a>
            </div>
            <% } %>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
